<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_partials/_head")
</head>
<body>
    @Html.Partial("_partials/_header")

    <main>
        @RenderBody()
    </main>

    @Html.Partial("_partials/_footer")
</body>
</html>