@{
    DateTime birthDate = new DateTime(2002, 09, 06);
    var todayDate = DateTime.Now;
    int age = todayDate.Year - birthDate.Year - (birthDate.DayOfYear < todayDate.DayOfYear ? 0 : 1);
}

<section class="container content__spacing">
    <p>Hello 👋 I am Alexis Chân GRIDEL, I'm @age years old, I am currently a student.
        I am a .NET lover and an open-source enthusiast, my goal is to become a Microsoft MVP thanks to my blog and my
        desire to spread my knowledge about .NET technologies, etc.

        I hope you will appreciate my content and you will be following it.
        You can as well take a look to my <a href="#" class="has-text-info">resume</a>, I won't be a student forever.
    </p>
</section>