Order: 0
ArchiveSources: => "posts/*"
ArchiveFilter: => Outputs.FilterSources("posts/*").ContainsById(Document)
ArchiveDestination: >
  => GetInt("Index") <= 1 ? $"index.html" : $"page/{GetInt("Index")}.html"
ArchivePageSize: 5
ArchiveOrderKey: Published
ArchiveOrderDescending: true
ArchiveTitle: => GetString("Title")
---
<section class="section">
    <h1 class="is-section-title">All posts</h1>
    <div class="container articles">
        <!--
                <a class="feed-article">
                    <section>
                        <header class="feed-article__eyebrow">jun 01 / #pawn</header>
                        <h3 class="feed-article__title ">Some text here</h3>
                    </section>
                </a>
        -->
        @Html.Partial("_partials/_posts.cshtml", Document)
    </div>
</section>
