<section class="section">
    <h1 class="is-section-title">All posts</h1>
    <div class="container">

        <a class="feed-article">
            <section>
                <header></header>
                <h3>Some text here</h3>
            </section>
        </a>

        <a class="feed-article">
            <section>
                <header></header>
                <h3>Some text here</h3>
            </section>
        </a>

        <a class="feed-article">
            <section>
                <header></header>
                <h3>Some text here</h3>
            </section>
        </a>
    </div>
</section>
