---
title: My Blog
description: My personal static blog powered by Statiq.NET
---

<a href="" class="feed-article">
    <section class="border-bottom w-100">
        <header>
            <time>Sep 06</time>
            / Tag
        </header>
        <h3>Lorem ipsum dolor sit amet lorem in lore</h3>
    </section>
    <div class="">
        <figure class="" style="background-image: url('https://via.placeholder.com/50');"></figure>
    </div>
</a>
