<nav class="shadow-sm flex items-center nav-header">
    <div></div>
    <figure class="h-full">
        <svg role="img" aria-label="Frog" style="background-image: url('https://discordapp.com/assets/2dc62d269672004b581d3e056151c938.svg');background-repeat: no-repeat;">

        </svg>
    </figure>
</nav>