<section class="hero is-large has-bg-image">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <span class="has-text-weight-bold has-text-light">agdl.dev</span>
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroB">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active has-text-light">
                            Home
                        </a>
                        <a class="navbar-item has-text-light">
                            About
                        </a>
                        <a class="navbar-item has-text-light">
                            Blog
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title has-text-light">
                Title
            </p>
            <p class="subtitle has-text-light">
                Subtitle
            </p>
        </div>
    </div>
</section>