@model IDocument

<a class="feed-article" href="@Context.GetLink(Model)">
    <section>
        <header class="feed-article__eyebrow">@Model.GetDateTime(WebKeys.Published).ToLongDateString() / #pawn</header>
        <h3 class="feed-article__title">@Html.DocumentLink(Model)</h3>
    </section>
</a>
