@model IDocument


<a href="@Context.GetLink(Model)">
    <div class="feed-article">
        <span class="feed-article__eyebrow">@Model.GetDateTime(WebKeys.Published).ToLongDateString() / @Model.GetString("Tag")</span>
        <h2 class="feed-article__title">@Html.DocumentLink(Model)</h2>
    </div>
</a>
