<nav class="navbar is-fixed-top bg-light">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item title--link" href="@Context.GetLink("index.html")">
                <span class="has-text-weight-bold">agdl.dev</span>
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroB">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item is-active" href="@Context.GetLink("index.html")">
                    Home
                </a>
                <a class="navbar-item" href="@Context.GetLink("about.html")#about__content">
                    About
                </a>
                <a class="navbar-item" href="mailto:contact@agdl.dev">
                    Contact
                </a>
            </div>
        </div>
    </div>
</nav>