body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.has-bg-image{
    background-image: url("../assets/hero-bg.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.is-section-title{
    color: #202124 !important;
    margin-bottom: 60px !important;
    font-size: 44px !important;
    letter-spacing: -.5px;
    font-family: "Montserrat", "Helvetica Neue", "Segoe UI", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

.feed-article{
    border-bottom: 1px solid #d7d7d7;
    padding: 30px 0;
}

a .feed-article__eyebrow{
    margin-bottom: 10px;
    color: #414141;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

a .feed-article__title{
    margin-bottom: 0px;
    font-size: 32px;
    color: #414141;
}